server:
  port: 8080

spring:
  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 30MB

logging:
  level:
    root: INFO
    com.example.des: DEBUG

dify:
  api-key: 
  base-url: https://api.dify.ai/v1
  workflow-code: enterprise_onboarding_workflow
  chatflow-code: enterprise_match_chatflow
